body{
    background-color: #e6f3ff;
    
}

.tagline{
    color:blueviolet;
    font-style: italic;
}
img{
    float: right;
}
.pricetopic{
    padding-top: 100px;
    font-size:25px;
    font-weight: bold;
}

table{
    border: 1px solid black;
    width: 100%;
}
td,th{
    text-align: left;
    padding: 12px;
}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: orange;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}